.ty{
    height:100px;
    width:100vw;
    display: flex;
    justify-content: left;
    background-color: greenyellow;
}
.op{
    display: flex;
    background-color: deeppink;
    justify-content: left;

}
.op ul{
    list-style-type: none;
    display: flex;
    justify-content: left;
}
.op ul li a{
color: black;
padding: 20px;
}