.ty{
    height:100px;
    width:100vw;
    display: flex;
    justify-content: left;
}
.yt{
    height: 100px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color:greenyellow;
}
.yt li{
    padding: 30px;
}
.yt li a{
    color: black;
}