.header_element{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: left;
    background-color:hwb(30 17% 7%);
}
.Trending_block{
    height: 500px;
    width: 1500px;
    margin-top: 10px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    margin-left: 10px;

}
.hey{
    height: 100px;
    width: 100px;
}
.hey img{
    height: 100px;
    width: 100px;
}
.child{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
}
.child ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.child ul li{
    padding: 20px;
}
.child ul li a{
    color: rgb(0, 0, 0);
}
.child1{
    margin: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: end;
}
.child1 img{
    height: 100px;
    width: 100px;
}
.child1 ul{
    display: flex;
    justify-content: center;
    list-style-type: none; 
}
.child1 ul li{
    padding: 20px;
}
.child1 ul li a{
    color: black;
}
.foot_nav_bar{
    height: 300px;
    width: max-content;
    background-color: rgb(190, 30, 15);
    display: flex;
}

